# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
    
+ Create a Jupyter Notebook with markdown and code cells
+ List examples of languages, libraries and tools used in Data Science
+ Share Jupyter Notebook publicly on GitHub

+ 1. Python
+ 2. R
+ 3. SQL

+ 1. Numpy
+ 2. Pandas
+ 3. Matplotlib

|Data Science Tools|
|------------------|
|    R Studio      |
| Apache Spark     |
| Apache Hadoop    |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Zahid Ihsan

Author